/.vs
/SomeExtensions.sln.ide
/SomeExtensions.v14.suo
/SomeExtensions/SomeExtensions/bin
/SomeExtensions/SomeExtensions/obj
/SomeExtensions/SomeExtensions.Vsix/bin
/SomeExtensions/SomeExtensions.Vsix/obj
/packages
*.user
